<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					        http://www.springframework.org/schema/beans/spring-beans.xsd
					        http://www.springframework.org/schema/context
					        http://www.springframework.org/schema/context/spring-context.xsd
					        http://www.springframework.org/schema/aop
    						http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.lomcat.caramel.alpaca">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController" />
    </context:component-scan>

    <bean id="configRegistry" class="com.lomcat.caramel.config.ConfigRegistry" init-method="init" destroy-method="destroy">
        <property name="enabled" value="true" />
<!--        <property name="mapKebabCamelCase" value="false" />-->
        <property name="echo">
            <bean class="com.lomcat.caramel.config.CaramelConfigEcho">
                <property name="granularity" value="summary,track,content" />
                <property name="masking" value="false" />
            </bean>
        </property>
        <property name="locators">
            <bean class="com.lomcat.caramel.config.local.LocalConfigResourceLocator">
                <property name="locations">
                    <list>
                        <value>{druid}(100)classpath:config/redis.properties</value>
                        <value>{test}(300)classpath:config/redis.properties</value>
                        <value>{abs}(300)classpath:config/redis.properties</value>
                    </list>
                </property>
                <property name="positions">
                    <list>
                        <bean class="com.lomcat.caramel.config.local.LocalConfigPosition">
                            <property name="key" value="druid" />
                            <property name="name" value="alpaca-druid" />
                            <property name="extension" value="conf" />
                            <property name="priority" value="200" />
                        </bean>
                        <bean class="com.lomcat.caramel.config.local.LocalConfigPosition">
                            <property name="key" value="test" />
                            <property name="name" value="alpaca-druid" />
                            <property name="extension" value="conf" />
                            <property name="priority" value="200" />
                        </bean>
                        <bean class="com.lomcat.caramel.config.local.LocalConfigPosition">
                            <property name="key" value="abs" />
                            <property name="name" value="alpaca-druid" />
                            <property name="extension" value="conf" />
                            <property name="priority" value="200" />
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

</beans>